* {
  box-sizing: border-box;
}

.flexibleContainer {
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fbf7e3;
  padding: 2rem 2rem;
  border-radius: 50px;

  color: #97623e;
}

.imgContainer {
  min-width: 450px;
  min-height: 300px;

  background-image: url(/assets/imgs/honey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  flex-shrink: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 50%;
}

.textContainer h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
  .flexibleContainer {
    flex-wrap: wrap;
  }

  .textContainer {
    order: -1;
  }

  .imgContainer {
    flex-grow: 1;
  }
}
